* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
}

body, input, textarea, button {
  font-family: 'Press Start 2P';
  font-size: 16px;
  text-transform: uppercase;
  -webkit-font-smoothing: none;
}

button, input {
  margin: 0.2em 0;
  padding: 0.25em 0.5em 0.2em;
  border-radius: 0;
  border: 2px solid;
  + button, input ~ & {
    margin-left: -2px;
  }
}
